<!DOCTYPE html>
<html lang="en">
<head>
    <title>天津法院网站服务器日志分析</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
</head>
<body>
<div class="wrapper">
    <!--navbar top-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="adjust-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-square-o "></i>&nbsp;日志分析</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-square-o "></i>&nbsp;法院数据查询&nbsp;</a></li>
                    <li><a href="#"><i class="fa fa-square-o "></i>&nbsp;数据一览&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="h-title">天津法院网站服务器日志数据统计分析</h2>
        <!--条件查询-->
        <div class="mg-top-20 panel panel-primary panel-body dateContainer">
            <div class="row ">
                <!--<div class="col-md-3"></div>-->
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="calendarBegin" placeholder="选择要查看的日期" class="form-control">
                    </div>
                    <p class="h-title">起始日期</p>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="calendarEnd" placeholder="选择要查看的日期" class="form-control">
                    </div>
                    <p class="h-title">截止日期</p>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary">全部查询</button>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                            <select id="usertype" name="usertype" class="selectpicker show-tick form-control"
                                     mutiple title="选择要查询的法院" multiple data-live-search="true">
                                <option value="0">苹果</option>
                                <option value="1">菠萝</option>
                                <option value="2">香蕉</option>
                                <option value="3">火龙果</option>
                                <option value="4">梨子</option>
                                <option value="5">草莓</option>
                                <option value="6">哈密瓜</option>
                                <option value="7">椰子</option>
                                <option value="8">猕猴桃</option>
                                <option value="9">桃子</option>
                            </select>
                    </div>
                    <p class="h-title">法院</p>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary">条件查询</button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>


        <div class="row">
            <!--四个饼图.-->
            <div class="col-md-3 col-sm-3 col-xs-6 mg-top-20">
                <div class="panel panel-primary">
                    <div class="panel-body accssTime" id="accessChart"></div>
                    <!--<div class="panel-footer back-footer-blue">-->
                    <!--<p>网站访问次数</p>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6 mg-top-20">
                <div class="panel panel-primary">
                    <div class="panel-body accssTime" id="totalFlow"></div>
                    <!--<div class="panel-footer back-footer-blue">-->
                    <!--<p>产生总流量</p>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6 mg-top-20">
                <div class="panel panel-primary">
                    <div class="panel-body accssTime" id="totalIP"></div>
                    <!--<div class="panel-footer back-footer-blue">-->
                    <!--<p>来访IP总数/p>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6 mg-top-20">
                <div class="panel panel-primary">
                    <div class="panel-body accssTime" id="mostURL"></div>
                    <!--<div class="panel-footer back-footer-blue">-->
                    <!--<p>最多访问路径</p>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 mg-top-20">
                <div class="panel panel-primary">
                    <div class="panel-body barChart" id="flowBar"></div>
                    <!--<div class="panel-footer back-footer-blue">-->
                    <!--<p>流量和访问量变化曲线</p>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 mg-top-20">
                <div class="panel panel-primary">
                    <div class="panel-body seqChart" id="flowSeq"></div>
                    <!--<div class="panel-footer back-footer-blue">-->
                    <!--<p>流量和访问量变化曲线</p>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 mg-top-20">
                <div class="panel panel-primary">
                    <div class="panel-body seqChart" id="URLRank"></div>
                    <!--<div class="panel-footer back-footer-blue">-->
                    <!--<p>URL排名</p>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 mg-top-20">
                <div class="panel panel-primary">
                    <div class="panel-body seqChart" id="IPRank"></div>
                    <!--<div class="panel-footer back-footer-blue">-->
                    <!--<p>IP排名</p>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 mg-top-20">
                <div class="panel panel-primary">
                    <div class="panel-body seqChart" id="CourtRank"></div>
                    <!--<div class="panel-footer back-footer-blue">-->
                    <!--<p>法院排名</p>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
    </div>
    <footer class="footer navbar-fixed-bottom ">
        <div class="p-footer">
            <p>@copyright</p>
        </div>
    </footer>
</div>

<!--<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.js"></script>
<link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap-grid.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/echarts/3.6.2/echarts.common.js"></script>-->
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.js"></script>
<script src="../../assets/js/echarts.common.js"></script>
<script src="../../assets/js/myCharts.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrapDatepickr-1.0.0.min.js" charset="UTF-8"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<script>
    $(document).ready(function () {
        $("#calendarBegin").bootstrapDatepickr({date_format: "Y-m-d"});
        $("#calendarEnd").bootstrapDatepickr({date_format: "Y-m-d"});
    });

    $(window).on('load', function () {
        $('#usertype').selectpicker({
            'selectedText': 'cat'
        });
    });
</script>

<link href="../../assets/css/bootstrapDatepickr-1.0.0.css" rel="stylesheet">
<link rel="stylesheet" href="../../assets/css/bootstrap.css" type="text/css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<!-- FONTAWESOME STYLES-->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!--MY CUSTOM STYLE-->
<link href="../../assets/css/myStyle.css" rel="stylesheet"/>


</body>
</html>